<section id="spot-list-panel">
  <h3>Spots</h3>

  <div class="ui items">
    <div class="item" ng-repeat="spot in spots track by $index">
      <div class="image">
        <img ng-src="{{spot.cover_image_url}}">
        <br>
        <div class="ui labeled icon button blue mini" ng-click="trip.currentDay().addSpot(spot)">
          <i class="plus icon"></i>
          Add to trip
        </div>
      </div>
      <div class="content">
        <a class="header">{{spot.name}}</a>
        <div class="meta">
          <span class="cinema">{{spot.address}}</span>
        </div>
        <div class="description">{{spot.top_tip.text.en | limitTo : 100}}</div>
        <div class="extra">
          <div class="ui horizontal label" ng-repeat="tag in spot.tags">{{tag.en}}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map-panel">
  <!-- <div id="map"></div> -->
  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers
      models='spots'
      coords="'coords'"
      doCluster="true"
      clusterOptions="{title: 'Hi I am a Cluster!', gridSize: 60, ignoreHidden: true, minimumClusterSize: 2}"
    >
    </ui-gmap-markers>
  </ui-gmap-google-map>
</section>

<section id="trip-panel">
  <h3>Trip</h3>
  
  <span>Day {{trip.currentDayIndex() + 1}} / </span>
  <div class="ui icon buttons">
    <div class="ui button" ng-click="trip.prevDay()">
      <i class="left chevron icon"></i>
    </div>
    <div class="ui button" ng-click="trip.nextDay()">
      <i class="right chevron icon"></i>
    </div>
    <div class="ui button" ng-click="trip.addDay()">
      <i class="plus icon"></i>
    </div>
  </div>

  <div class="ui divided items">
  <div class="item" ng-repeat="spot in trip.currentDay().spots() track by $index">
    <div class="ui tiny image">
      <img ng-src="{{spot.image}}">
    </div>
    <div class="middle aligned content">
      <a class="header">{{spot.name}}</a>
      <div class="meta">
        <span class="cinema">{{spot.address}}</span>
        <div class="ui icon button red mini" ng-click="trip.currentDay().removeSpot(spot)">
          <i class="remove icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>
