<section id="spot-list-panel">
  <h3>Spots</h3>

  <div class="ui items">
    <div class="item" ng-repeat="spot in spots track by $index" ng-click="centerMapOnSpot(spot.coords)">
      <div class="image">
        <img ng-src="{{spot.cover_image_url}}">
        <br>
        <div class="ui labeled icon button blue mini" ng-click="TripManager.trip.currentDay().addSpot(spot)" ng-if="!TripManager.trip.currentDay().containsSpot(spot)">
          <i class="plus icon"></i>
          Add to trip
        </div>
        <div class="ui labeled icon button red mini" ng-click="TripManager.trip.currentDay().removeSpot(spot)" ng-if="TripManager.trip.currentDay().containsSpot(spot)">
          <i class="plus icon"></i>
          Remove from trip
        </div>
      </div>
      <div class="content">
        <a class="header" href="#/spot/{{spot.id}}">{{spot.name}}</a>
        <div class="meta">
          <span class="cinema">{{spot.address}}</span>
        </div>
        <div class="description">{{spot.top_tip.text.en | limitTo : 100}}</div>
        <div class="extra">
          <div class="ui horizontal label" ng-repeat="tag in spot.tags">{{tag.en}}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map-panel">
  <map center="{{mapOptions.center}}" zoom="{{mapOptions.zoom}}">
    <!-- <marker
      ng-repeat="spot in spots"
      position="[{{spot.coords.latitude}}, {{spot.coords.longitude}}]"
      title="{{spot.name}}"
      icon="assets/img/iconDefault.png"></marker> -->
  </map>
  <!-- <div id="map"></div> -->
  <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers
      models='spots'
      coords="'coords'"
      doCluster="true"
      clusterOptions="{title: 'Hi I am a Cluster!', gridSize: 60, ignoreHidden: true, minimumClusterSize: 2}"
    >
    </ui-gmap-markers>
  </ui-gmap-google-map> -->
</section>

<section id="trip-panel">
  <h3>{{TripManager.trip.title}}</h3>
  
  <span>Day {{TripManager.trip.currentDayIndex + 1}}</span>
  <div class="ui icon buttons">
    <div class="ui button" ng-click="TripManager.trip.prevDay()" ng-class="{disabled: !TripManager.previousDayExists()}">
      <i class="left chevron icon"></i>
    </div>
    <div class="ui button" ng-click="TripManager.trip.nextDay()" ng-class="{disabled: !TripManager.nextDayExists()}">
      <i class="right chevron icon"></i>
    </div>
    <div class="ui button" ng-click="TripManager.trip.addDay()">
      <i class="plus icon"></i>
    </div>
    <div class="ui button" ng-click="TripManager.trip.removeDay(TripManager.trip.currentDayIndex)">
      <i class="delete icon"></i>
    </div>
  </div>

  <div class="ui divided items">
  <div class="item" ng-repeat="spot in TripManager.trip.currentDay().spots() track by $index">
    <div class="ui tiny image">
      <img ng-src="{{spot.cover_image_url}}">
    </div>
    <div class="middle aligned content">
      <a class="header">{{spot.name}}</a>
      <div class="meta">
        <span class="cinema">{{spot.address}}</span>
        <div class="ui icon button red mini" ng-click="TripManager.trip.currentDay().removeSpot(spot)">
          <i class="remove icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>
