#spot-list-panel{
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
}

#map-panel{
  width: 50%;
  height: 100%;
  position: absolute;
  left: 30%;

  #map{
    width: 100%;
    height: 100%;
  }
}

#trip-panel{
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  right: 0;
}

.todo-list {
  list-style: none;
  text-indent: 0;
  padding: 0;
}

.todo-item {
  padding: 0.5em;
}

.todo-done {
  text-decoration: line-through;
  font-style: italic;
  color: #999;
}
